.tahoma-font{
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
   }
   .arial-font{
    font-family: Arial;
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: bold;
   }
   .ita{
    font-family: Arial;
    font-size: 25px;
    color: rgb(240, 30, 30);
    font-style: italic;
    margin-top: 0;
   }